.card {
  user-select: none;
  margin: 20px;
  width: 18rem;
  background-color: #4D7EA8;
  box-shadow: 1px black;
  box-shadow: 5px 5px 10px 0px #000000;
  height: 14rem;
  color: #272932;
}

.card:hover {
  transform: scale(1.05);
  transition: ease-in-out 300ms;
}

.card-title {
  margin-bottom: 15px;
  font-weight: bold;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

/* .detail_button {
  border: 1px black;
  background-color: #828489;
  border-radius: 5px;
  width: 200px;
  height: 25px;
}

.detail_button:hover {
  background-color: #B6C2D9;
}

.detail_button:active {
  transform: scale(0.97);
} */